/*====================GLOBAL====================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    font-size: 62.5%;
    /*1rem = 10px*/
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    --primary-Color-White: #FFFFFF;
    z-index: 1;
}


/* FONT

.urbanist-<uniquifier> {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



*/


body {
  background: 
    linear-gradient(to bottom, rgba(6, 10, 19, 0.2), rgba(23, 32, 44, 0.2)), /* camada do degradê */
    #0D0F17; /* cor sólida de fundo */
  background-repeat: no-repeat;
  background-size: cover;
}

body::after{
     content: "";
     position: absolute;
     bottom: 1;
     left: 0;
     height: 0.5rem; /* altura da "borda" */
     width: 100%;
     background: linear-gradient(to right, #A3C4F1, #D2DEEF);
     border-radius: 999px;
}

/*====================APP====================*/
.App {
    width: min(144rem, 100%);
    padding-inline: 10rem;
    font-family: "Urbanist", sans-serif;
    margin: auto;
   
}


@media (max-width:600px) {
    .App {
        width: min(37.5rem, 100%);
        padding-inline: 2rem;
    }

}